
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik;
  font-weight: bold;
  src: url(fonts/Rubik-Bold.ttf);
}

body {
  font-size: 20px;
  width: 100%;
  font-family: Rubik, sans-serif;
  background-color: var(--color-bg);
}

@media screen and (max-width: 1030px) {
  section {
    margin: 2rem auto;
    width: 90%;
  }
}


:root {
  --color-text: #ffffff;
  --color-bg: #0f0f0f;
  --color-bg-header: #1f1f1f;
  --color-text-header: #00ef00;
  --color-headerlink: #fff;
  --color-headerlink-socials: #090;
  --color-headerlink-hover: #00ef00;
}


/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  gap: 1rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  font-size: xx-large;
  color: var(--color-text-header);
  background-color: var(--color-bg-header);
  box-shadow: 0 0 0.5rem black;
}


header .items-wrapper,
header .items {
  display: flex;
  align-items: center;
  gap: 5rem;
}

header .items a {
  transition: all 250ms;
  color: var(--color-headerlink);
}

header .items a:hover {
  transition: all 250ms;
  color: var(--color-headerlink-hover);
}

header .items.headerlinks a {
  font-size: xx-large;
}

header .items.socials a {
  /* TODO: may be use later */
  /* color: var(--color-headerlink-socials); */
  font-size: xx-large;
}

/* burger menu */
.btn {
  transition: all 125ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  width: max-content;
  padding: 0.5rem;
  border: 0.25rem solid var(--color-bg);
  cursor: pointer;
}

.btn:active {
  scale: 90%;
}

#header-toggle {
  display: none;
  font-size: x-large;
  border: 0.25rem solid var(--color-bg-header);
  background-color: var(--color-bg-header);
  color: var(--color-text);
}

@media screen and (max-width: 1030px) {
  #header-toggle {
    display: inline;
  }

  header .items.headerlinks {
    flex-direction: column;
  }

  header .items-wrapper {
    transition: 250ms;
    flex-direction: column;
    position: fixed;
    top: 5.5rem;
    left: 1rem;
    right: 1rem;
    background-color: var(--color-bg-header);
    box-shadow: 0 0 0.5rem black;
    padding: 2rem;
  }

  header .items-wrapper.hidden {
    translate: -100vw;
    opacity: 0;
  }
}

/* footer */
footer{
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg);
  color:var(--color-text);
  justify-content: space-around;
  align-items: stretch;
  font-size: xx-large;
  
} 

footer span{
  color: rgb(3,223, 50  )
}

.copyright{
  align-self: self-end;
}
ul {
  list-style-type: none;
}

footer .items a {
  transition: all 250ms;
 
  
  font-size: 60px;
  color: var(--color-headerlink);
}

footer .items a:hover {
  transition: all 250ms;
  color: var(--color-headerlink-hover);
}

footer .nav li{
  padding: 1rem;
}
footer .contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contacts>ul{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap:2rem;
}
